<div>
  <h1>Task Manager</h1>
  <input type="text" name="task" placeholder="Enter Your task" [(ngModel)]=taskData>
  <input *ngIf="!isEditMode" type="button" value="Add Task" (click)="addTask()">
  <input *ngIf="isEditMode" type="button" value="Update Task" (click)="updateTask()">
  <table>
    <tr *ngFor="let x of taskList.reverse(); let i = index">
      <td>
        <input #sts type="checkbox" [checked]="x.done" (click)="updateTaskState(sts.checked,i)">
      </td>
      <td>
        <span [ngClass]="{'ifDone':x.done}">{{ x.title }}</span>
      </td>
      <td>
        <input type="button" value="Edit" (click)="editTask(i)">
      </td>
      <td>
        <input type="button" value="Delete" (click)="deleteTask(i)">
      </td>
    </tr>
  </table>
  <!-- <div *ngFor="let x of taskList.reverse();, let i = index">
    <input #sts type="checkbox" [checked]="x.done" (click)="updateTaskState(sts.checked,i)">
    <span [ngClass]="{'ifDone':x.done}">{{ x.title }}</span>
    <input type="button" value="Edit" (click)="editTask(i)">
    <input type="button" value="Delete" (click)="deleteTask(i)">
  </div> -->
  <input *ngIf="taskList.length > 0; " type="button" value="Clear Task" (click)="clearTask()">
</div>